@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300;1,400&display=swap');
@import url('//fonts.googleapis.com/css?family=Roboto:500');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
body {
 background: url(Cover.jpg) no-repeat center/cover;
}

.container {
  margin: auto;
  width: 45%;
  background: url(Cover.jpg) no-repeat center/cover; 
}

.logo {
  display: block;
  margin-left: auto;
}

.list-image {
  border-radius: 20px;
}

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;

}

.content{
  font-family: 'Varela Round', sans-serif;
   line-height: 20px; 
   text-align: center; 
   text-justify: inter-word;
   font-weight: 9000;
   font-size: 15px;
   background-color:cadetblue;
   padding-top:5px;
   padding-bottom:5px;
   padding-left: 8px;
   padding-right: 8px;
   color: white;
}

.button {
  text-align: center;
}

.footer {
  text-align: center;
  background-color:#4682B4;
  padding-top:5px;
  padding-bottom:7px;
}

.items {
  display: flex;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  border-spacing: 2px;
}

.item1 {
  background-color: #fff;
  border: solid #32a1ce;
}

.item2 {
  background-color: #fff;
  border: solid #32a1ce;
}

.item3 {
  background-color: #fff;
  border: solid #32a1ce;
}

.face-button {
  height: 64px;
  display: inline-block;
  border: 3px solid  #00BFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color:  #00BFFF;
  overflow: hidden;
}

.face-primary,
.face-secondary {
  display: block;
  padding: 0 32px;
  line-height: 64px;
  transition: margin .4s;
}

.face-primary {
  background-color:  #00BFFF;
  color: #fff;
}

:hover .face-primary {
  margin-top: -64px;
}